@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgba(255, 255, 255, 0.799);
  color: black;
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 10px;
  color: black;
}
